/*
Fullscreen styles.
*/
.github-codemirror-fs-toggle,
.github-codemirror-fs-upload-files
{
	top      : 1em;
	right    : 1em;
	z-index  : 10001;
	position : fixed;

	display  : none;
	color    : #C0C0C0;
	cursor   : pointer;
}
.github-codemirror-fs-upload-files
{
	right : 3em;
}
.github-codemirror-fs-toggle:hover,
.github-codemirror-fs-upload-files:hover
{
	color : #FFFFFF;
}
.github-codemirror-fs-upload-files > i.octicon-sync
{
	-webkit-animation : github-codemirror-spin 2s infinite linear;
	animation         : github-codemirror-spin 2s infinite linear;
}
/*
File upload styles.
*/
.github-codemirror-upload-files
{
	margin                     : 0;
	padding                    : 7px 10px;

	font-size                  : 13px;
	line-height                : 16px;

	color                      : #AAAAAA;
	background-color           : #FAFAFA;
	border                     : 1px solid #CCCCCC;

	border-top                 : 0;
	border-bottom-right-radius : 3px;
	border-bottom-left-radius  : 3px;
}
.github-codemirror-upload-files > input,
.github-codemirror-upload-files > .-progress
{
	display : none;
}
.github-codemirror-upload-files > .-drag-n-drop,
.github-codemirror-upload-files > .-progress
{
	float  : right;
	margin : 0 0 0 1em;
}
.github-codemirror-upload-files > .-progress > .octicon-sync
{
	-webkit-animation : github-codemirror-spin 2s infinite linear;
	animation         : github-codemirror-spin 2s infinite linear;
}
.github-codemirror-upload-files > a
{
	text-decoration : none;
}
/*
CodeMirror styles.
*/
.cm-s-ambiance .cm-header
{
	font-size   : 120% !important;
	color       : #EEEEEE !important;
	font-weight : normal !important;
}
.cm-s-ambiance .cm-comment
{
	color      : #AEAEAE !important;
	font-style : normal !important;
}
.CodeMirror-placeholder
{
	opacity    : 0.5;
	font-style : italic;
}
.CodeMirror-placeholder::after
{
	content : '...';
}
.CodeMirror-fullscreen
{
	z-index : 10000;
}
.CodeMirror-fullscreen .CodeMirror-scroll
{
	padding : 1em;
}
/*
Animations.
*/
@-webkit-keyframes github-codemirror-spin
{
	0%
	{
		-webkit-transform : rotate(0deg);
		transform         : rotate(0deg);
	}
	100%
	{
		-webkit-transform : rotate(359deg);
		transform         : rotate(359deg);
	}
}
@keyframes github-codemirror-spin
{
	0%
	{
		-webkit-transform : rotate(0deg);
		transform         : rotate(0deg);
	}
	100%
	{
		-webkit-transform : rotate(359deg);
		transform         : rotate(359deg);
	}
}